<mat-card>
  <mat-card-content>
   <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <h2>Change your password</h2>
       <mat-error *ngIf="loginInvalid">
         Password and verify password must match!!
       </mat-error>

      <mat-form-field class="full-width-input">

        <input matInput type="password" placeholder="Password" formControlName="password" required>

      </mat-form-field>

      <mat-form-field class="full-width-input">

        <input matInput type="password" placeholder="Verify Password" formControlName="verifypassword" required>

        <mat-error>

          Please provide a valid password

        </mat-error>

      </mat-form-field>
     <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
       <p style="color: white">Please Wait. </p>
     </ngx-spinner>
     <button mat-raised-button color="primary" [disabled]="!form.valid">Update</button>

    </form>

  </mat-card-content>
</mat-card>
